* {
    /*box-sizing: border-box;*/
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
  font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
}

section {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  position: absolute;
}

header {
  background-color: white;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #00d1b2;
  font-weight: 400;
  font-size: 30px;
}

header p {
  color: #00d1b2;
  font-size: 20px;
  font-weight: 300;
}

header img {
  height: 30px;
  vertical-align: text-top; 
}

footer {
  position: fixed;
  text-align: center;
  bottom:0;
  padding: 3px;
  width: 100%;
  color: #584b42;
}

footer p {
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  font-weight: 200;
  color: #584b42
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #e5dbcf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #00d1b2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:#00c4a7;
}

/* ----- login ------- */

.login{
  color: white;
  font-weight: 300;
  background: #b2f1e7;
}

.login .container-fluid {
  margin: 3% -15px 0 -15px;
  padding: 30px 0 0 0;
  text-align: center;
}


.login h1{
  font-size: 55px;
  font-weight: 400;
  color: #00d1b2;
  text-align: left;
}

.login h2 {
  font-size: 26px;
  font-weight: 300;
  color: #584b42;
  margin-top: 20px;
  text-align: left;
}

.login h3 {
  font-size: 40px;
  font-weight: 200;
  color: #584b42;
}

.login h4 {
  font-size: 24px;
  font-weight: 400;
  color: #00d1b2;
  margin-top: 20px;
}

.login .page{
  margin: 7% 3% 3% 20%;
}

.login .page-user{
  margin-top: 10%;
  border-left: 3px #00d1b2 solid ;
}

.login img{
  text-align: right;
  height: 120px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #584b42;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #584b42;
  font-size: 16px;
  font-weight: 400;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #584b42;
  font-size: 16px;
  font-weight: 400;
}

form {
  padding: 20px 0;
  position: relative;
}

form input {
  border: 1px solid #00d1b2;
  background-color: rgba(252, 252, 252, 0.6);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  color: #584b42;
  font-weight: 300;
}

form button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #584b42;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

form button:focus,
form button:hover{
  background-color: #00d1b2;
}

input:focus,
input:active {
  border: 1.1px solid #00d1b2 !important;
  outline: 0;
  box-shadow: 1px 1px 2px rgba(0,209, 178,0.7) !important;
  -webkit-box-shadow: 1px 1px 2px rgba(0,209, 178,0.7) !important;
}

/* ----- Chat ------- */

.chat{
  color: white;
  font-weight: 300;
  background: #b2f1e7;
  background-image: url(escheresque.png);
}

.message {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px 10px 0 10px;
  width: 70%;
  margin: 16px;
  float: left;
  z-index: 10;
}

.user-msg{
  float: right;
  background: #DCF8C6;
}


.message h1 {
  font-size: 1.2em;
  margin-bottom: 6px;
  color: #584b42;
  font-weight: 600;
}

.message p {
  margin-bottom: 5px;
  padding-bottom: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #584b42;
  font-weight: 300;
}

.message-text {
  font-size: 1.2em;
}

.message-date {
  font-size: 0.8em;
  text-align: right;
}

.tooltip .tooltip-inner{
  background-color: #00c4a7;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #00c4a7 !important;
}

.message button {
  position: relative;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
  color: #584b42;
  background: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.user-msg button {
  background: #DCF8C6;
}


.message-space{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

form.create-message {
  position: relative;
  width: 400px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-message input,
form.create-message textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-message button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #00c4a7;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.icon-menu{
  text-align: right;
  cursor: pointer;
  display: inline;
  padding: 3px 10px;
  margin-left: 5px;
}

.menu{
  text-align: right;
}

.menu p{
  font-size: 24px;
  margin-bottom: 0;
}



.icon-menu:hover,
.icon-menu:active{
  background-color: #e5faf7;
  transition: border-bottom 0.2s, color 0.2  ;
  -webkit-transition: border-bottom 0.2s, color 0.2  ;
  -moz-transition: border-bottom 0.2s, color 0.2  ;
  -ms-transition: border-bottom 0.2s, color 0.2  ;
  -o-transition: border-bottom 0.2s, color 0.2  ;
}

.chat-space{
  height: 57vh;
  overflow-y: scroll;
}

  